# Next.js build çıktıları
.next/
out/

# Node.js bağımlılıklar
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ortam değişkenleri
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Derleme dosyaları
*.log
*.pid
*.seed
*.pid.lock

# Sistem dosyaları
.DS_Store
Thumbs.db

# IDE ve editör dosyaları
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel/

# Debug log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/fallback-*.js 